.background {
    background-color: rgb(199, 198, 198);
    height: 100%;
   }
   .card-img-wrapper {
       display: flex;
       justify-content: center;
       align-items: center;
      
   }
   /* .row {
       margin-top: 50px;
   } */
   
   .spinner-border {
    width: 1.5rem;
    height: 1.5rem;
    border-width: 0.2em;
}
   